{% extends "layout.html" %}
{% block content %}
    <div class="contact-intro">
        <h3>Please reach out to us at:</h3>
        <div class="card border-0">
            <div class="card-body">
              <p>Phone: <strong>7065000363</strong></p>
            </div>
        </div>
        <div class="card border-0">
            <div class="card-body">
              <p>Email: <strong>uprofessional.pro@gmail.com</strong></p>
            </div>
        </div>
        <div class="card border-0">
            <div class="card-body">
              <a href="https://instagram.com/uprofessional.in?igshid=YmMyMTA2M2Y=" target="_blank"><i class="fa fa-instagram"></i></a>
              <a href="https://www.facebook.com/profile.php?id=100082346359196&mibextid=ZbWKwL" class="fa fa-facebook" target="_blank"></a>
            </div>
        </div>
    </div>
{% endblock content %}