{% extends "layout.html" %}
{% block content %}
    <div class = "card-wrapper">
        <div class = "card">
        <!-- card left -->
        <div class = "product-imgs">
            <div class = "img-display">
            <div class = "img-showcase">
                <img src = "{{ url_for('static', filename='pics/dtan/1.jpg') }}" width="300" alt = "treatment">
            </div>
            </div>
            <div class = "img-select">
            <div class = "img-item">
                <a href = "#" data-id = "1">
                <img src = "{{ url_for('static', filename='pics/dtan/2.jpg') }}" width="200" alt = "shoe image">
                </a>
            </div>
            <div class = "img-item">
                <a href = "#" data-id = "2">
                <img src = "{{ url_for('static', filename='pics/dtan/3.jpg') }}" width="200" alt = "shoe image">
                </a>
            </div>
            <div class = "img-item">
                <a href = "#" data-id = "3">
                <img src = "{{ url_for('static', filename='pics/dtan/4.jpg') }}" width="200" alt = "shoe image">
                </a>
            </div>
            </div>
        </div>
        <!-- card right -->
        <div class = "product-content">
            <h2 class = "product-title">D-Tan Pack</h2>
            <div class = "product-price">
            <p class = "new-price">Price: <span>Rs. 850.00 (300 ML)</span></p>
            </div>

            <div class = "product-detail">
            <h2>product details: </h2>
            <p>U Professional D-Tan Pack comes with instant whitening results. This TanClear Cleanser has 8 benefits in 1 jar as it hydrates, nourishes, soothes, calms, heals, whitens, brightens and lightens the skin. The goodness of mint and eucalyptus oil cleanse skin while providing instant brightening & lightening benefits.</p>
            <ul>Sizes Available:
                <li>300 ML</li>
            </ul>
            </div>
        </div>
        </div>
    </div>
    
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
{% endblock content %}