<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
        <title>U Professional</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    </head>
    <body>
        <h1 class="centered"><span class="auto-type"></span></h1>
        <div class="welcome-anchor">
            <a style="text-align: center;" class="btn btn-outline-light btn-lg" href="{{ url_for('home') }}">Let's Get Started!</a>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script>
        <script>
            var typed = new Typed(".auto-type", {
                strings: ["Welcome to U Professional"],
                typeSpeed: 100,
                backspeed: 50,
                loop: true
            })
        </script>
    </body>
</html>